<%- include("partials/header") %>

<main id="sign-up">

<h1>SIGN UP</h1>

<form action="/register" method="POST">
    <% if(locals.msg) { %>
     <p><%= msg %></p>
      <% } %>

    <input type="text" name="firstname" id="firstname" placeholder="First Name" required>
    <input type="text" name="lastname" id="lastname" placeholder="Last Name" required>
    <input type="text" name="username" id="username" placeholder="Username" required>
    <input type="email" name="email" id="email" placeholder="Email Address" required>
    <input type="password" name="password" id="password" placeholder="Password" required>
    <label>
    <input type="checkbox" name="terms" value="true" required>
    i agree to the <a href="/terms">Terms and condition</a>
    </label>
    <button type="submit" name="button">Sign up</button>
</form>

 <a href="/login">Login</a>
  
</main>